.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
Dictionary-ViRu.iml
NEXDICT_OFFLINE.iml
NextDict.iml
app/app.iml
AppSign.jks
AppSigning.txt
app/app-vien-release.apk
private_key.pem
upload_key_public_certificate.pem
app-vien-release.apk
